@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(38, 38, 38);
    color: rgb(226, 226, 226);
    
    
}


.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;

   
}
.logo a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
.navigation-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: rgb(226, 226, 226);
    outline-color: rgb(226, 226, 226);
    text-decoration-color: rgb(226, 226, 226);
    z-index: 5;
}
.navigation-links li{
    list-style: none;
    color: rgb(226, 226, 226);
}
.navigation-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .navigation-links{
        width: 60%;
        color: rgb(226, 226, 226);
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .navigation-links{
        color:whitesmoke;
       
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(38, 38, 38);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navigation-links li{
        
        color: rgb(226, 226, 226);
        outline-color: rgb(226, 226, 226);
        
    }
    .burger{
        display: block;
    }
}

.navigation-active{
    transform: translateX(0%);
}

@keyframes navigationLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.logosettings{
color: whitesmoke;
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}



body{
    background-color: rgb(38, 38, 38);
    font-family: 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.staende__numbers{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 700px;
    margin: 1rem 0 3rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}



.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
    
}

.betrag__container{
    display: flex;
}

.input__area {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
input[type="text"],
input[type="number"] {
    border: 1px solid whitesmoke;
    margin: 8px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

input[type="text"] {
    width: 50%;
    font-family: 'Trebuchet MS', sans-serif;
}
input[type="number"] {
    width: 30%;
    font-family: 'Trebuchet MS', sans-serif;
}


.buttons__area > button {
    cursor: pointer;
    padding: 25px 33px;
    border: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin: 10px;
    margin-top: 30px;
  
    
}
.button1:active {
    background-color: rgb(54, 99, 54);
}

.button1:hover {
    background-color: rgb(54, 99, 54);
}

.button2:hover {
    background-color: rgb(138, 40, 40);
}

.button2 {
    background-color: rgb(163, 41, 41);        
}

.button1 {
    background-color: rgb( 45, 134, 45);   
}
.verlauf {
    margin-top: 30px;
}
.items__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 700px;
   
}



.items__container .container{
    width: 49%;
    
}

.container .item{
    width: 100%;
    align-items: center;
    
    
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 30px;
    position: relative;
}

.item__einkommen,
.item__ausgabe{
    display: flex;
    align-items: center;
}    

.items__container li{
    list-style: none;
    align-items: center;
    
    
   
}

.item .far{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(163, 41, 41);
    
    cursor: pointer;
    transform: translateX(30px);
    opacity: 0;
}

.item:hover .far{
    animation: showDelete;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showDelete{
    0%{
        transform: translateX(30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.logosettings{
    color: whitesmoke;
        text-align: center; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}